<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="/font/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <title>Manager</title>
  </head>

  <body>
    <div id="main">
      <div id="header">
        <div id="info">
          <ul id="contact">
            <li class="contact-info">
              <a href="">
                <i class="far fa-envelope"></i>
                qhvu.phan@gmail.com
              </a>
            </li>
            <li class="contact-info">
              <a href="#">
                <i class="fab fa-facebook"></i>
                facebook
              </a>
            </li>
          </ul>
          <ul id="noti">
            <li class="noti-member">
              <a href="#">
                <i class="far fa-bell"></i>
                Thông báo</a
              >
              <div class="notification">
                <ul id="notification_list">
                  <li class="notification_mem-header">Thông báo</li>
                </ul>
              </div>
            </li>
            <li class="noti-member">
              <a href="#">
                <i class="far fa-question-circle"></i>
                Trợ giúp
              </a>
              <div class="notification">
                <ul id="notification_list">
                  <li class="notification_mem-header">Trợ giúp</li>
                </ul>
              </div>
            </li>
            <li class="noti-member">
              <a id="register" href="#">Đăng ký</a>
              <div class="register">
                <div id="register-form">
                  <p class="notification_mem-header">Thông tin đăng ký</p>
                  <label>Tên đăng nhập:</label><br />
                  <input
                    type="text"
                    placeholder="Email hoặc số điện thoại"
                  /><br />
                  <label>Số điện thoại:</label><br />
                  <input type="text" placeholder="Số điện thoại" /><br />
                  <lable>Địa chỉ:</lable><br />
                  <input type="text" placeholder="Điện chỉ" /><br />
                  <label>Mật khẩu</label><br />
                  <input type="password" placeholder="Mật khẩu" /><br />
                  <label>Nhập lại mật khẩu:</label><br />
                  <input
                    type="password"
                    placeholder="Xác nhận mật khẩu"
                  /><br />
                  <button>Đăng ký</button>
                </div>
              </div>
            </li>
            <li class="noti-member">
              <a id="login" href="#">Đăng nhập</a>
              <div class="login">
                <div id="login-form">
                  <p class="notification_mem-header">Đăng nhập</p>
                  <label>Tên đăng nhập:</label><br />
                  <input
                    type="text"
                    placeholder="Email hoặc số điện thoại"
                  /><br />
                  <label>Mật khẩu</label><br />
                  <input type="password" placeholder="Mật khẩu" /><br />
                  <button>Đăng nhập</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="website_search_buy">
          <div id="website">Vmazon</div>
          <div id="search">
            <input class="search" type="text" />
            <i class="fas fa-search btn-search"></i>
          </div>
          <div id="cart">
            <i class="fas fa-shopping-cart"></i>
          </div>
        </div>
      </div>
      <div id="container">
        <div id="navigation">
          <ul id="nav_list">
            <p class="nav-mem-header">Quản lí</p>
            <li class="nav-mem">
              <a id="nav-header-add" href="#">Thêm sản phẩm</a>
              <div id="addproduct" class="addproduct">
                <div id="register-form">
                  <p class="notification_mem-header">Thông tin sản phẩm</p>
                  <br />
                  <label>Tên sản phẩm:</label><br />
                  <input  type="text" name="pro_name" /><br /><br />
                  <label>Loại sản phẩm</label><br />
                  <input  type="text" name="pro_type" /><br /><br />
                  <lable>Thông tin sản phẩm</lable><br />
                  <input
                    
                    type="text"
                    name="pro_description"
                  /><br /><br />
                  <label>Hình ảnh:</label><br />
                  <input
                    type="file"
                    placeholder=""
                    name="image_file"
                  /><br /><br />
                  <label>Giá sản phẩm</label><br />
                  <input  type="text" name="pro_price" /><br /><br />
                  <button id="create" onclick="handleCrateProduct()">Thêm sản phẩm</button>
                  <button id="close">Đóng</button>
                </div>
              </div>
              <div id="editproduct" class="addproduct">
                <div id="register-form">
                  <p class="notification_mem-header">Thông tin sản phẩm</p>
                  <br />
                  <label>Tên sản phẩm:</label><br />
                  <input  type="text" name="pro_names" /><br /><br />
                  <label>Loại sản phẩm</label><br />
                  <input  type="text" name="pro_types" /><br /><br />
                  <lable>Thông tin sản phẩm</lable><br />
                  <input
                    
                    type="text"
                    name="pro_descriptions"
                  /><br /><br />
                  <label>Hình ảnh:</label><br />
                  <input
                    type="file"
                    placeholder=""
                    name="image_files"
                  /><br /><br />
                  <label>Giá sản phẩm</label><br />
                  <input  type="text" name="pro_prices" /><br /><br />
                  <button id="updates">Cập nhật</button>
                  <button id="closes">Đóng</button>
                </div>
              </div>
            </li>
            <li class="nav-mem">Phản hồi</li>
            <li class="nav-mem">Thông báo</li>
          </ul>
        </div>
        <div id="content"></div>
      </div>

      <div id="footer">
        <div class="footer-info">
          <div class="title-footer">Vmazon</div>
          <p>Chất lượng làm nên thương hiệu</p>
          <p>Hân hạnh được phục vụ</p>
        </div>
        <div class="footer-address">
          <p class="address-footer">Địa chỉ: nhà trên đất</p>
          <p>Thích thì mua không thích thì mua</p>
          <p>Liên hệ thì liên hệ không liên hệ thì liên hệ</p>
        </div>
      </div>
    </div>
    <script src="/js/admin.js"></script>
  </body>
</html>
