<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="/font/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <title>Vmazon Shop</title>
  </head>

  <body>
    <div id="main">
      <div id="header">
        <div id="info">
          <ul id="contact">
            <li class="contact-info">
              <a href="">
                <i class="far fa-envelope"></i>
                qhvu.phan@gmail.com
              </a>
            </li>
            <li class="contact-info">
              <a href="#">
                <i class="fab fa-facebook"></i>
                facebook
              </a>
            </li>
          </ul>
          <ul id="noti">
            <li class="noti-member">
              <a href="#">
                <i class="far fa-bell"></i>
                Thông báo</a
              >
              <div class="notification">
                <ul id="notification_list">
                  <li class="notification_mem-header">Thông báo</li>
                </ul>
              </div>
            </li>
            <li class="noti-member">
              <a href="#">
                <i class="far fa-question-circle"></i>
                Trợ giúp
              </a>
              <div class="notification">
                <ul id="notification_list">
                  <li class="notification_mem-header">Trợ giúp</li>
                </ul>
              </div>
            </li>
            <li id="register-user"class="noti-member">
              <a id="register" href="#">Đăng ký</a>
              <div class="register">
                <div id="register-form">
                  <p class="notification_mem-header">Thông tin đăng ký</p>
                  <label>Tên đăng nhập:</label><br />
                  <input type="text" placeholder="chữ,số" name="user" /><br />
                  <label>Số điện thoại:</label><br />
                  <input
                    type="text"
                    placeholder="Số điện thoại"
                    name="phone"
                  /><br />
                  <lable>Email:</lable><br />
                  <input
                    type="text"
                    placeholder="Điện chỉ"
                    name="address"
                  /><br />
                  <label>Mật khẩu</label><br />
                  <input
                    type="password"
                    placeholder="Mật khẩu"
                    name="password"
                  /><br />
                  <label>Nhập lại mật khẩu:</label><br />
                  <input
                    type="password"
                    placeholder="Xác nhận mật khẩu"
                    name="passwords"
                  /><br />
                  <button id="register-form" onclick="registerUser()">
                    Đăng ký
                  </button>
                  <button id="close-register" onclick="closeRegister()">
                    Đóng
                  </button>
                </div>
              </div>
            </li>
            <li id="login-user" class="noti-member">
              <a id="login" class="" href="#">Đăng nhập</a>
              <div class="login">
                <div id="login-form">
                  <p class="notification_mem-header">Đăng nhập</p>
                  <label>Tên đăng nhập:</label><br />
                  <input
                    type="text"
                    placeholder="chữ,số"
                    name="username_login"
                  /><br />
                  <label>Mật khẩu</label><br />
                  <input
                    type="password"
                    placeholder="Mật khẩu"
                    name="passwords_login"
                  /><br />
                  <button onclick="login()">Đăng nhập</button>
                </div>
              </div>
            </li>
            <li id="logout-user" class="noti-member hide">
              <a href="http://localhost:5000">Đăng xuất</a>
            </li>
            <li id="login-username" class="noti-member hide">
              <input id="user_id" type="text" class="hide">
              <a id="user-login" href="#">Username</a>
            </li>
          </ul>
        </div>
        <div id="website_search_buy">
          <div id="website">
            <a id="home" href="http://localhost:5000">Vmazon</a>
          </div>
          <div id="search">
            <input class="search" type="text" onfocus="this.value=''" oninput="searchProduct()" placeholder="Tìm kiếm sản phẩm" />
            <i id="btn-search" onclick="search_product()" class="fas fa-search btn-search"></i>
          </div>
          <div id="cart">
            <div id="show-cart"><i class="fas fa-shopping-cart" onclick="show_cart()"></i></div>
            <div id="cart_list" class="class">     
              <p id="info-cart">Thông tin sản phẩm</p>
              <div id="cart-mem">
                <div id="description">
                  <label for="">Xóa sản phẩm</label>
                  <label for="">Hình sản phẩm</label>
                  <label for="">Tên sản phẩm</label>
                  <label for="">Số lượng</label>
                </div>
                <div id="total">Tổng tiền</div>
              </div>
              <div id="cart_list_mem">
              </div>
              <div id="cart-mem" class="total-amount">
                <div id="description">
                  <lable>Tổng tiền:</lable>
                </div>
                <div id="totalAmount"></div><br>  
              </div>
              <button>Đặt hàng</button>
            </div>
          </div>
        </div>
      </div>
      <div id="container">
        <div id="navigation">
          <ul id="nav_list">
            <p  class="nav-mem-header" onclick="renderAllProduct()">Sản phẩm</p>
            <li class="nav-mem" onclick="renderProductTypeof('1')">Rau xanh các loại</li>
            <li class="nav-mem" onclick="renderProductTypeof('2')">Củ , quả các loại</li>
            <li class="nav-mem" onclick="renderProductTypeof('3')">Thịt các loại</li>
            <li class="nav-mem" onclick="renderProductTypeof('5')">Cá các loại</li>
            <li class="nav-mem" onclick="renderProductTypeof('4')">Mì các loại</li>
            <li id="nav-mem-buy"class="nav-mem">
              <p id="open-buy">Gọi ý mua hàng</p>
              <div id="select-buy" class="select-buy">
                <div class="icon-close"><i id="fa-times-circle"class="far fa-times-circle"></i></div>
                <label for="">Vui lòng điền số tiền: </label>
                <input id ="money" type="text"> 
                <select id="select-type">
                  <option value="0">Chọn loại thực phẩm</option>
                  <option value="1"> Rau xanh các loại </option>
                  <option value="2"> Củ, quả các loại </option>
                  <option value="3"> Thịt các loại </option>
                  <option value="4"> Mì các loại </option>
                  <option value="5"> Cá các loại </option>   
                </select>
                <button onclick="suggestion()">Bắt đầu mua</button>
                <div>
                  <div id="suggestion" >                
                  </div>  
                  <label id="product-buy-number"for="">Số sản phẩm mua được: 0 </label><br>
                  <label id="money-total" for="">Tiền thừa:0</label><br>
                </div>
                                                        
            </div>
            </li>
          </ul>
        </div>
        <div id="content">
          <script>
            var select = document.querySelector("#login");
            select.addEventListener("click", () => {
              var add = document.querySelector(".login");
              add.classList.add("show");
            });
            var select1 = document.querySelector("#register");
            select1.addEventListener("click", () => {
              var add = document.querySelector(".register");
              add.classList.remove("hide");
              add.classList.add("show");
            });
            var select_buy = document.querySelector("#open-buy");
              select_buy.addEventListener("click", () => {
                var show = document.querySelector("#select-buy")
                show.classList.add("show")
              })
            var close_select_buy = document.querySelector(".icon-close")
              close_select_buy.addEventListener('click', () => {
              let close = document.querySelector("#select-buy");
              close.classList.remove("show");
            })
            var select2 = document.querySelector("#container");
            select2.addEventListener("click", () => {
              var add = document.querySelector(".login");
              var add1 = document.querySelector(".register");
              var show = document.querySelector(".class");
              add.classList.remove("show");
              add1.classList.remove("show");
              show.classList.remove("show");
            });
            function closeRegister() {
              var close = document.querySelector(".register");
              close.classList.add("hide");
              close.classList.remove("show");
            }
          </script>
          <script src="/js/index.js"></script>
          <%= products %>
                <%if(products){%>
                  <% for(let i = 0;i < products.length;i++) {%>
                  <strong><%=products[i].pro_name%></strong>
                  <br/>
                  <%}%>
              <%}%>
        </div>
      </div>
      <div id="footer">
        <div class="footer-info">
          <div class="title-footer">Vmazon</div>
          <p>Chất lượng làm nên thương hiệu</p>
          <p>Hân hạnh được phục vụ</p>
        </div>
        <div class="footer-address">
          <p class="address-footer">Địa chỉ: nhà trên đất</p>
          <p>Thích thì mua không thích thì mua</p>
          <p>Liên hệ thì liên hệ không liên hệ thì liên hệ</p>
        </div>
      </div>
    </div>
  </body>
</html> -->
