<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="/font/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
        <div class="login-form">
            <div class="login-user">
                <label  for="">Username:</label> <input type="text" name="" id="">
            </div>
            <div class="login-password">
                <label for="">Password:</label> <input type="password" name="" id="">
            </div>
            <div class="login-btn">
                <div class="login-btn-login">
                    <button>Login</button>
                </div>
                <div class="login-btn-exit">
                    <button>Exit</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
