<link rel="stylesheet" href="/css/product.css">
<div class="content-product-container">
    <div class="content-product-main">
        <div class="content-product-title">Rau , củ , quả</div>
        <div class="content-product-list">
            <div class="content-product-item">
                <div class="bg-content-item">
                    <div class="title-content-hot">Nước xã vãi comfort em be cho da nhạy cảm 3.2l</div>
                    <div class="price-buy-hot">
                           <span>15.000 đ</span>
                    </div>
                    <div> <img src="/img/comfor.png" alt="" width="200px" height="200px"></div>
                </div>
                <div class="buy">
                    <a href="#">CHỌN MUA</a>
                </div>    
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
        </div>
       
    </div>
    <div class="content-product-main">
        <div class="content-product-title">Rau , củ , quả</div>
        <div class="content-product-list">
            <div class="content-product-item">
                <div class="bg-content-item">
                    <div class="title-content-hot">Nước xã vãi comfort em be cho da nhạy cảm 3.2l</div>
                    <div class="price-buy-hot">
                           <span>15.000 đ</span>
                    </div>
                    <div> <img src="/img/comfor.png" alt="" width="200px" height="200px"></div>
                </div>
                <div class="buy">
                    <a href="#">CHỌN MUA</a>
                </div>    
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
        </div>
       
    </div>
    <div class="content-product-main">
        <div class="content-product-title">Rau , củ , quả</div>
        <div class="content-product-list">
            <div class="content-product-item">
                <div class="bg-content-item">
                    <div class="title-content-hot">Nước xã vãi comfort em be cho da nhạy cảm 3.2l</div>
                    <div class="price-buy-hot">
                           <span>15.000 đ</span>
                    </div>
                    <div> <img src="/img/comfor.png" alt="" width="200px" height="200px"></div>
                </div>
                <div class="buy">
                    <a href="#">CHỌN MUA</a>
                </div>    
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
             <div class="content-product-item">
                <div> <img src="/img/caixanh.jpg" alt="" width="200px" height="200px"></div>
                     <div class="title-content">Càỉ xanh</div>
                         <div class="price-buy">
                               <span>SL:1</span>
                                <span>15000 vnd</span>
                           </div><br>
                           <div class="buy">
                                <a href="#">CHỌN MUA</a>
                         </div>
             </div>
        </div>
    </div>
</div>
