<link rel="stylesheet" href="/css/topbar.css">
<div id="topbar" class="topbar">
    <div class="topbar-header">
        <div class="topbar-list">
            <%- include('navagation.ejs') %>
        </div>        
            <div class="topbar-home">
                <img src="/img/logo-bxh.png" height="50px" width="160px" alt="logo">
            </div>
            <div class="topbar-map">
                <div id="topbar-map-gps">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Giao tại:</span>
                    <span>Cần thơ</span>
                    <span><u>Thay đổi</u></span>
                </div>
            </div>
            <div class="topbar-search">
                <input type="text" class="topbar-search-input" placeholder="Tìm kiếm hơn 10k sản phẩm">
                <i class="fas fa-search topbar-search-btn"></i>
            </div>
            <div class="topbar-bill"><a href="">Đơn hàng <br> của bạn</a></div>
            <div class="topbar-cart">
                <i class="fas fa-shopping-basket"></i>
                <a href=""><b>GIỎ HÀNG</b></a>
            </div>
    </div>  
</div>